body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
.list__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.item__img{
    max-width: 288px;
    height: 288px;
    object-fit: fill;
}
.item__div{
    background-color: #cef9ff;
    padding: 0.3rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item_div__link{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.item_div__link:hover{
    text-decoration: underline;
    cursor: pointer;
}
.details_main{
    display: flex;
    margin: 1rem;
}
.facilities__list{
list-style: disc;
display: flex;
flex-direction: column;
}
.facilities__list li{
    margin-left: 1rem;
}
.details__img{
    width: 712px;
    max-width: 60%;
    object-fit: contain;

}
.details__section{
    margin: 2rem;
    min-width: 300px
}
h4{
    margin: 10px 0 10px 0;
}
.details__location, .details__title, .details__subtitle{
    text-align: center;
}
.details__location{
    font-weight: 100;
}
.details__title{
    font-weight: 300;
}
.details__subtitle{
    font-size: 1em;
    font-weight: 100;
}
